# NLP libraries
torch>=2.0.0
transformers>=4.30.0
huggingface_hub>=0.20.0
spacy>=3.5.0
# Fixes C-header binary incompatibility bug with SpaCy pipelines
numpy>=2.0.0
wordfreq>=3.0.0

# German model for spaCy
de_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.8.0/de_core_news_sm-3.8.0-py3-none-any.whl

